.a-header-line {
    position: relative;
    padding-left: 12px;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2px;
        height: 16px;
        background-color: #3F87FF;
    }
}

.a-border-bottom-10 {
    border-bottom: 10px solid #f5f7f9;
}

.a-prevent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.tab-bar-placeholder {
    height: 48px;
    padding-bottom: env(safe-area-inset-bottom);
}