.a-header-line {
    position: relative;
    padding-left: 12px;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 2px;
        height: 16px;
        background-color: #3F87FF;
    }
}